:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: darkgray;
    --good-color: green;
    --warning-color: orange;
    --danger-color: red;

    --table-fill-color: gray;

    --container-margin-left: 4rem;
    --container-margin-right: 4rem;
    --container-margin-top: 2rem;
    --container-margin-bottom: 2rem;
}
